.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;

  min-height: 8vh;


}




.navitems {

  margin: auto 30px;
}

.farright {
  margin-left: 10px;
  padding-right: 10px
}

.nav-links{
  width: 50%;
display: flex;
justify-content: space-around;
align-items: center;
list-style: none;
color: black;
}

.nav-logo{
  color: black;
}


/* about Page */



.about-p {
  width: 50%;
  display: inline-block;
  color: #000;
}

.about-div {
  text-align: center;

}


/* Creater page */

.me{
  margin-top: 30px;

}


.hi {
  text-align: center;
}

.creater-p {
  width: 30%;

display: inline-block;

}

.creater-list-div {
  padding-top:  50px ;
  text-align: left;


}
